@charset "UTF-8";

/* ===============================
// 共通
// ===============================*/
:root {
  --color-text: #131a12;
  --color-bg: #fff7f7;
  --color-main: #ffe100;
  --color-logo: #e22a00;
}

html {
  font-size: 100%;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: 'Zen Maru Gothic', sans-serif;
  line-height: 150%;
  font-weight: normal;
  color: var(--color-bg);
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 150%;
  word-break: break-all;
}

ul,
ol {
  list-style-type: '';
}

/* レイアウト
----------------------------------- */
.wrapper {
  width: min(92%, 960px);
  margin: 0 auto;
}


.btn-stlye {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin: 0 auto;
  padding: .9em 2em;
  border: none;
  border-bottom: solid 5px hsla(0, 100%, 8%, 0.98);
  background-color: var(--color-text);
  border-radius: 2.5rem;
  color: var(--color-main);
  font-weight: 600;
  font-size: 1.5rem;
  transition: .5s ease;
}

.btn-stlye:hover {
  transform: translateY(3px);
  border-bottom-width: 2px;
}

/* iframe */
iframe {
  width: 100%;
}

/* 見出し */
h1 {
  margin: 4rem auto 2.5rem;
  width: 400px;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 170%;
}

@media (max-width:768px) {
  h1 {
    width: 320px;
  }
}

/* h1の文字の両側に画像を配置する方法 */
/* h1 {
  font-size: 3rem;
  color: var(--color-main);
  font-weight: bold;
  text-align: center;
} */
/* 
h1::before,
h1::after {
  content: '';
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  background-image: url("/image/gyoza-redframe.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 1rem;
}

h1::before {
  margin-right: 1rem;
  rotate: 45deg;
}

h1::after {
  margin-left: 1rem;
  rotate: -45deg;
} */

/* ボタン */
/* ファーストビュー */
/* ファーストビュー */
.hero {
  width: 100vw;
  object-fit: contain;
}

.imageForpc {
  display: block;
}

.imageForsp {
  display: none;
}

@media (max-width:768px) {
  .imageForpc {
    display: none;
  }

  .imageForsp {
    display: block;
  }
}

/* ________________ヘッダー */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 225, 0, 0.9);
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: all 0.6s ease;
  z-index: 1000;
}

.site-header.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* ヘッダー内部 */
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  /* flex: 1; */
  width: 64px;
}

.header-copy {
  /* flex: 1; */
  color: var(--color-logo);
  text-align: center;
  font-size: clamp(1.2rem, 0.918rem + 1.202vw, 2rem);
  font-weight: 500;
}

/* ハンバーガー */
.hamburger {
  /* flex: 1; */
  text-align: right;
  background-color: none;
  border: 2px solid var(--color-logo);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 64px;
  height: 64px;
  padding: 0;
  gap: 8px;
  transition: all 0.3s ease;
  position: relative;
}

.hamburger .bar {
  display: block;
  height: 2px;
  width: 30px;
  margin-inline: auto;
  background-color: var(--color-logo);
  transition: all 0.5s ease-in-out;
}

/* ☰ → × アニメーション */
.hamburger.active .bar:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

/* メニュー */
.nav {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background: var(--color-main);
  border-top: 1px solid var(--color-logo);
  text-align: center;
  color: var(--color-logo);
  font-size: 1.2rem;
}

.nav.active {
  max-height: 500px;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav li {
  border-bottom: 1px solid var(--color-logo);
}

.nav a {
  display: block;
  padding: 1rem;
  text-decoration: none;
}

/* ===============================
// トップページ
// ===============================*/
/* フェスの説明 */
.toppage {
  background-color: var(--color-logo);
}

.lead {
  padding-top: 4rem;
  max-width: 820px;
  text-align: center;
  margin: 0 auto 2.5rem;
}

.leadTitle {
  text-align: center;
  font-style: normal;
  font-size: clamp(2rem, 1.648rem + 1.502vw, 3rem);
  padding: 2rem;
  font-weight: bold;
}

.leadItem {
  display: flex;
  flex-direction: column;
  font-size: clamp(1rem, 0.912rem + 0.376vw, 1.25rem);
  gap: 1rem;
}

/* ナイトフェス */
.heading-16 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

.heading-16::before,
.heading-16::after {
  width: 1px;
  height: 1.5rem;
  background-color: var(--color-bg);
  content: '';
}

.heading-16::before {
  transform: rotate(-35deg);
  margin-right: 1rem;
}

.heading-16::after {
  transform: rotate(35deg);
  margin-left: 1rem;
}

.nightfes {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  margin-inline: auto;
  align-items: center;
}
.emphasis_design24 { color: var(--color-text); -webkit-text-stroke: 2px #fff }

.nightfes img {
  width: 500px;
}

.nightfes-pc {
  display: block;
}

.nightfes-sp {
  display: none;
}

@media (max-width:768px) {
  .nightfes-pc {
    display: none;
  }

  .nightfes-sp {
    display: block;
  }
}

/* 出店情報 */
.slide-container {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.slide-wrapper {
  display: flex;
  width: calc(300px * 14);
  /* 7枚 × 2セット */
  animation: slide-flow 30s linear infinite;
}

.slide {
  width: 300px;
  flex-shrink: 0;
  object-fit: cover;
  border: 1px solid #ddd;
  margin-bottom: 2.5rem;
}

/* スムーズに無限ループ */
@keyframes slide-flow {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-300px * 7));
    /* ←1セット分だけ動かす */
  }
}

/* アニメーション */
@keyframes slide-flow {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }

  /* ← 半分だけ流す！ */
}

/* お知らせ */
.newsContainer {
  background-color: var(--color-main);
  color: var(--color-text);
  position: relative;
}

.newsContainer::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  left: 8px;
  border: 4px solid var(--color-logo);
  pointer-events: none;
}

.news-list {
  padding: 2rem 4rem;
  margin-block-end: 2rem;
}

.news-item {
  /* border-block-start: 1px solid #cccccc; */
  padding-block: 15px;
  margin-block-end: 1.25rem;
  font-size: clamp(1.1rem, 0.959rem + 0.601vw, 1.5rem);
  display: flex;
  /* flex-direction: column; */
  gap: 3rem;
}

.news-item:last-of-type {
  /* border-block-end: 1px solid #cccccc; */
  margin-block-end: 0;
}


/* 公式SNS */
.snsContainer {
  padding-block: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.snsiconItem {
  width: 180px;
  height: auto;
}

@media (max-width:768px) {
  .news-item{
    flex-direction: column;
    gap: 1rem;

  }
  .snsiconItem {
    width: 120px;
  }
}

.snsText {
  font-size: clamp(1.2rem, 0.918rem + 1.202vw, 2rem);
  font-weight: bold;
  text-align: center;
  color: var(--color-text);
}


/* 開催概要 */
.fesinfoContainer {
  width: 100%;
  background-color: var(--color-main);
  color: var(--color-text);
  padding: 2rem 4rem;
  position: relative;
}

.fesinfoContainer::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  left: 8px;
  border: 4px solid var(--color-logo);
  pointer-events: none;
}

.fesinfoContainer tr {
  font-size: clamp(1.1rem, 0.959rem + 0.601vw, 1.5rem);
  vertical-align: middle;
}


.fesinfoContainer th {
  width: 30%;
  font-weight: 400;
  padding: 1.5rem 0 1rem 0;
  border-bottom: 2px dashed var(--color-logo);

}

.fesinfoContainer td {
  width: 70%;
  padding: 1.5rem 0 1rem 0.5rem;
  border-bottom: 2px dashed var(--color-logo);

}

/* アクセス */
.accessContainer {
  display: flex;
  flex-direction: column;
  font-size: clamp(1.1rem, 0.959rem + 0.601vw, 1.5rem);
  gap: 2.5rem;
  color: var(--color-text);
  margin: 0 4rem 4rem;
}

.venue {
  text-align: center;
}

.venue p:first-of-type {
  font-weight: bold;
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

/* .accessMap{
  position: relative;
  width: 100%;
  padding-top: 56.25%;    
} */
/* 9÷16x100 */

/* ===============================
// 下層ページ
// ===============================*/
.subpage {
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* ===============================
// 出店情報ページ
// ===============================*/
.circlenumber {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  /* 直径 */
  height: 32px;
  background-color: var(--color-logo);
  /* 背景色（丸の色） */
  color: #fff;
  /* 文字色 */
  border-radius: 50%;
  /* 真円にする */
  font-weight: bold;
  font-size: 1rem;
}

.gyozaIcon {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: clamp(1.1rem, 0.959rem + 0.601vw, 1.5rem);
  font-weight: bold;
  align-items: center;
}

.gyozaIcon img {
  width: 160px;
}

.gyozaShop {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.25rem;
  font-weight: bold;
}
.shopInfo img{
  width: 35px;
}
.shopGroup {
  display: flex;
  flex-direction: column;
  gap: clamp(0.4rem, 0.277rem + 0.526vw, 0.75rem);
}

.shopCategory {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 0.648rem + 1.502vw, 2rem);
  align-items: center;
}

.shopGuide {
  padding-top: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: clamp(1rem, 0.032rem + 4.131vw, 3.75rem);
}

.shopList {
  margin-block: 4rem;
}

.shopContainer {
  padding: 2rem 4rem;
  border: 4px solid var(--color-main);
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto 4rem;
  box-sizing: border-box;
}

.shopContainer .gyozaShop {
  flex-shrink: 0;
}

.shopInfo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* 画像とテキストをまとめるブロック */
.shopgyozaInfo {
  display: flex;
  position: relative;
  gap: 2rem;
}

.shopgyozaInfo::before {
  position: absolute;
  bottom: -5px;
  right: 7px;
  z-index: 1;
  transform: rotate(5deg);
  width: 50%;
  height: 20%;
  background-color: #d0d0d0;
  content: "";
  filter: blur(4px);
}

.shopgyozaInfo-image {
  flex: 1;
}

.shopgyozaInfo-image img {
  width: max(380px, 50%);
}

.shopgyozaInfo-text {
  flex: 1;
  display: flex;
  flex-direction: 1;
  position: relative;
  margin-left: 0;
  background: var(--color-main);
  z-index: 2;
  padding: 1.5rem 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.shopgyozaInfo-text p:first-of-type {
  font-size: 1.25rem;
  font-weight: bold;
}

.shopgyozaInfo-text dl {
  display: flex;
  gap: 2rem;
}

.additionaltextContainer {
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-block: 4rem;
}

.additionaltextContainer p {
  font-size: 1.25rem;
}

@media (max-width:768px) {
  .gyozaIcon img {
    width: 120px;
  }

  .shopGuide {
    grid-template-columns: 1fr 1fr;
  }

  .shopgyozaInfo {
    flex-direction: column;
    gap: 1rem;
  }

  .shopgyozaInfo-image img {
    width: 100%;
  }

}

/* ===============================
// お問い合わせページ
// ===============================*/
/*  Q & A*/

summary {
  list-style: none;
  cursor: pointer;
  /* 見た目もボタンっぽくする */
}

summary::-webkit-details-marker {
  display: none;
}

summary::marker {
  content: "";
  /* Firefox向け */
}

.qaContainer {
  box-sizing: border-box;
  padding: 2rem;
  /* border: 2px solid var(--color-main); */
}

.qaGroup {
  margin-bottom: 2rem;
}

.qagroupTitle {
  margin-bottom: 0.25rem;
  background-color: var(--color-main);
  /* border: 4px solid var(--color-main); */
  padding: 1em 2em 1em 1.5em;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.25rem;
}

.qa-1 {
  margin-bottom: 0.25rem;
  border: 1px solid var(--color-main);
  box-shadow: 0 4px 4px rgb(0 0 0 / 2%), 0 2px 3px -2px rgba(0 0 0 / 5%);
  background-color: #fff;
}

.qa-1 summary,
.qagroupTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1em 2em 1em 3em;
  font-weight: bold;
  cursor: pointer;
}

.qa-1 summary::before,
.qa-1 p::before {
  position: absolute;
  left: 1em;
  font-weight: bold;
  font-size: 1.5em;
}

.qa-1 summary::before {
  color: var(--color-main);
  content: "Q";
  margin-right: 1rem;
}

.qa-1 summary::after,
.qagroupTitle::after {
  transform: translateY(-25%) rotate(45deg);
  width: 0.5rem;
  height: 0.5rem;
  margin-left: 10px;
  content: '';
  transition: transform .5s;
  border-bottom: 3px solid var(--color-main);
  border-right: 3px solid var(--color-main);
}

.qagroupTitle::after {
  border-bottom: 3px solid var(--color-text);
  border-right: 3px solid var(--color-text);
}


.qa-1[open] summary::after,
.qaGroup[open] .qagroupTitle::after {
  transform: rotate(225deg);
}

.qa-1 p {
  position: relative;
  transform: translateY(-10px);
  opacity: 0;
  margin: 0;
  padding: .3em 3em 1.5em;
  transition: transform 1s, opacity .5s;
}

.qa-1[open] p {
  transform: none;
  opacity: 1;
  padding-top: 1rem;
  border-top: 1px dashed var(--color-main);
}

.qa-1 p::before {
  color: var(--color-main);
  content: "A";
}

/* -------------------------------------------- */
/* obana */
.contactContainer{
  max-width: 720px;
  margin: 0 auto;
}
.contactDescription{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: 20px;
  font-size: 1.25rem;
}

.form_inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form_item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form_item:has([required]) label::before {
  content: '必須';
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
  background-color: var(--color-logo);
  color: #fff;
  margin-right: 1rem;
  margin-inline-start: 0.25em;
}
input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
  border: 2px solid var(--color-main);
  background-color: #fff;
  padding: 3px;
  width: 100%;
  height: 3rem;
}
textarea {
  height: 250px;
}

/* input[type='submit'] {
  background-color: #e22a00;
  color: #ffe100;
  border-radius: 30px;
  padding: 10px;
  width: 200px;
} */
/* ------------------------------------------------- */

/* トップへのボタン */
.arrowup {
  width: 20px;
  height: 20px;
  border-top: 4px solid var(--color-logo);
  border-left: 4px solid var(--color-logo);
  transform: rotate(45deg) translateY(2px);
  transform-origin: center;
  /* 45度回転して上向きの矢印形に */
}

.pagetop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
  width: 80px;
  height: 80px;
  right: -80px;
  bottom: calc(50% - 320px);
  color: var(--color-logo);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  border: 2px solid var(--color-logo);
  background: var(--color-main);
  transition: .2s;
  border-radius: 50%;
}

.is-active {
  opacity: 1;
  visibility: visible;
}

.pagetop.is-active {
  right: 0px;
}


/* Footer */
.footerContainer {
  width: 100%;
  margin-top: 2.5rem;
  color: var(--color-logo);
  display: inline-block;
  text-align: center;
  padding: 0.5rem 1rem 1rem 1rem;
  background-color: var(--color-main);
  /* background: rgba(255, 225, 0, 0.9);
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
}

.footerImg {
  width: 100%;
  padding-block: 2.5rem;
}

@media (max-width:768px) {
  .footerImg {
    width: 70%;
    margin-inline: auto;
  }
}